<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>EOS Hackathon Video Ranking</title>
    <script>
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
        crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script>
        chartData = JSON.parse("<%- JSON.stringify(chartData).replace(/"/g, '\\"') %>");
        console.log(chartData);
    </script>
</head>

<body>

    <div class="wrapper">
        <div class="container">
            
        </div>
        <div class="graph-wrapper" style="height: 100%;">
            <canvas id="likesGraph"></canvas>
        </div>
        <div class="container">
        </div>
    </div>



    <script src="/js/script.js"></script>
</body>

</html>